<!DOCTYPE html>
<html>
<head>
  <% render "header.html" %>
</head>

<body>

  <% render "nav.html" %>

<div class="jumbotron text-center">
  <div class="container">
    <h2>Listen for latest tweets of interest!</h2>
  </div>
</div>
<div class="container">
  <div class="input-group">
    <input type="text" id="search-keywords" class="form-control" placeholder="Comma separated keywords...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="startStreaming()">Stream!</button>
      </span>
  </div><!-- /input-group -->
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Stream of tweets</h3>
      <ul id="tweets-stream">
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Statistics</h3>
      <ul>
        <li>Received tweets during last 10 seconds: <a id="received-tweets">0</a></li>
      </ul>

      <h3><span class="glyphicon glyphicon-link"></span> Most popular authors</h3>
      <ul id="popular-authors">
      </ul>
    </div>
  </div>

  <div class="alert alert-info text-center" role="alert">
    <p>Please consider, that Twitter service may limit maximum amount of data streamed to application, so results could be incomplete!</p>
    <p>Service was created as part of presentation about RxJava,
      which was given on <a href="http://javaday.org.ua/kyiv/">JavaDay Kyiv 2016</a> conference by <a href="https://github.com/aigor">Igor Lozynskyi</a>. It may contain errors, so use with cation.</p>
  </div>
</div>


</body>
</html>
